.CalendarDay__selected {
    background: #0F1527;
    color: white;
    border: 1px double #0F1527;
  }

.CalendarDay__selected_span{
    background: #EAEDF2;
    border: 1px double rgb(71, 74, 83);
    color: #0F1527;
} 
.CalendarDay__selected_span:hover{
    background: #EAEDF2;
    border: 1px double rgb(71, 74, 83);
    color: #0F1527;
} 

.CalendarDay__Default{
    background: #EAEDF2;
    border: 1px double rgb(71, 74, 83);
    color: #0F1527;
}
  

.CalendarDay__selected:hover {
    background: #0F1527;
    color: white;
    border: 1px double rgb(71, 74, 83);
}

.CalendarDay__hovered_span {
    background: #EAEDF2;
    color: #0F1527;
    border: 1px double rgb(71, 74, 83);
}

.CalendarDay__hovered_span:hover{
    background: #EAEDF2;
    color: #0F1527;
    border: 1px double rgb(71, 74, 83);
}

.submit-button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin-top: 2rem;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50em;
    height: 50px;
    background-color: #0F1527;
    border-radius: 2rem;
    color: white;
    font-weight: 400;
    font-size: 12px;
    border: 0;
    letter-spacing: 0.2rem;
}

.dp-container{
    width:100%;
    padding-left:10px !important;
    /* background-color: red; */
}

.datepicker-style {
    display: flex;
    flex-direction: row;
    height: 8rem;
    /* justify-content: space-between; */
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-wrapper {
    margin-top: 2rem;
    display: flex;
    border: 0;
    justify-content: space-around;
}

.button-sizing {
    width: 13rem !important;
}

.button-text-size {
    padding: 5px 0 0 10px;
    height: 30px !important;
}

.picker-wrapper {
    display: flex;
    justify-content: space-around;
}


.DateRangePicker {
    display: flex !important;
    justify-content: space-around;
}

.DateRangePickerInput {
    width: 18rem !important;
}

.DateInput {
    width: 5.1rem;
}

.DateInput_input{
    font-size: 0.75rem;
}

.DateRangePickerInput__withBorder {
    border: 1px solid black;
}


.DateRangePickerInput input{
    padding-top:20px;
    padding-bottom: 20px;
    color: #262626;
}

.content-wrapper-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-sizing-mobile {
    width: 10.5rem ;    
}

.button-text-size-mobile {
    padding: 4px 0 0 8px;
    height: 25px;
}

.button-wrapper-mobile {
    margin-top: 1rem;
    display: flex;
    border: 0;
    justify-content: space-around;
}


.content-wrapper-tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button-sizing-tablet {
    width: 55%;
}

.button-text-size-tablet {
    padding: 3% 0 0 10px;
    height: 30px !important;
}

.button-wrapper-tablet {
    margin-top: 1rem;
    display: flex;
    border: 0;
    justify-content: space-around;
}

